

div {
  border:1px
  box-shadow: 5px 5px 5px grey !important;
}
h1 {
text-align:center;
font-family: 'Rancho';
  font-style: normal;
  font-weight: 400;

}

body {
  font-family: 'Gloria Hallelujah', cursive;
  margin: auto;


}

p {
  color: turqiouse !important;
}


#plot{
  font-family: 'Shadows Into Light', cursive;
  color: turqiouse;
  margin: auto;
  text-align: center;
}

header {
  display: block;
   margin: auto;
   width: 40%;

}

img {
  display: block;
   margin: auto;
   width: 40%;
}

div-title{
text-align: center;

}

#movie-holder {
margin: auto !important;
width: 50%;
border: 3px solid green;
padding: 10px;
}
button {
margin: auto !important;

}
